* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Lato", sans-serif;
}

:root {
  --c: rgb(229, 9, 20);
}

body {
  background-color: black;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}

h1 {
  font-size: 48px;
  line-height: normal;
  font-weight: 900;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 24px;
  font-weight: 400;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
  line-height: 20px;
}

p {
  font-size: 14px;
  line-height: 14px;
}

a {
  font-size: 16px;
}
/*
span {
} */

.main {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./image/1.jpg);
  /* background-image: url(./image/1.jpg); */
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 200px 0;
}

/* .bg_black { 
background-color: rgb(60, 60, 60, 0.7);
}*/

header {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top: 10px;
}

.hd_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.hd_top h3 {
  font-size: 44px;
  color: var(--c);
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

.hd_top span {
  display: flex;
  gap: 20px;
}

.hd_top a {
  text-decoration: none;
}

#ftn {
  border: 1px solid #aaa;
  padding: 5px 15px;
  border-radius: 5px;
  transition: 0.4s;
}

#ssbtn {
  background-color: var(--c);
  border-radius: 5px;
  transition: 0.4s;
  text-decoration: none;
  padding: 10px 20px 14px 15px;
  font-size: 24px;
  font-weight: 750;
  text-align: center;
}

#ssbtn i {
  margin-left: 10px;
  font-size: 24px;
  font-weight: 750;
}

#sbtn {
  background-color: var(--c);
  padding: 5px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.4s;
}

#sbtn:hover {
  background-color: rgb(193, 17, 25);
}
#ssbtn:hover {
  background-color: rgb(193, 17, 25);
}

#ftn:hover {
  background-color: rgba(36, 36, 36, 0.7);
}

.m_all {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  gap: 26px;
}

.mmbtn input {
  color: white;
  padding: 14px 30px 14px 15px;
  border-radius: 5px;
  border: 0;
  width: 300px;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #b9b9b9;
}

.mmbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/*///////////////////////////////////////////////////////////////////////// first /////////////////////////////////////////////////////*/
.first {
	padding: 100px 20px 200px 20px;
}

.f_left {
  width: 50%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.f_left h1 {
	padding-bottom: 30px;
}

.f_all {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.f_right {
  width: 50%;
  display: flex;
  justify-content: center;
}

.f_right img {
  width: 440px;
  position: absolute;
  z-index: 1;
}
.f_right video {
  position: relative;
  width: 321px;
  margin-top: 67px;
}

.line {
  width: 100%;
  height: 7px;
  background-color: #282828;
}


/*///////////////////////////////////////////////////////////////////////// second//// ///////////////////////////////////////////////*/

.second {
	padding: 40px 20px 100px 20px;
}

.se_all {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.se_right {
	width: 50%;
}

.se_left {
	width: 50%;
	background-image: url(./image/3.jpg);
	height: 420px;
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: end;
}

.se_left img {
	width: 480px;
}

.se_right {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 20px;
}

.se_l_box img {
	width: 55px;
}

.se_l_box a {
	color: #0071eb;
}
.se_l_box i:hover {
	color: #0071eb;
}

.se_l_box {
	display: flex;
  transition: 0.4s;
	justify-content: center;
	align-items: center;
	gap: 30px;
	background-color: black;
	max-width: 280px;
	padding: 10px 15px 10px 10px;
	border-radius: 10px;
  height: 75px;
	border: 2px solid #606060;
  margin-bottom: 32px;
}

#fid video {
	margin-top: 40px;
	width: 273px;
}

/*  */

#seee {
	width: 50%;
	background-image: url(./image/6.png);
	height: 420px;
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: end;
}

/*///////////////////////////////////////////////////////////////////////// third ///////////////////////////////////////////////*/
.third {
	padding: 130px 20px 50px 20px ;
}

.slide-toggle {
	background-color: #2d2d2d;
 transition: 0.4s;
	padding: 25px 15px 25px 25px;
}

.box-inner {
	background-color: rgb(45, 45, 45);
	padding: 25px 15px 25px 25px;
	border-top: 2px solid black;
}

.tr_box {
	margin-bottom: 10px;
}

.box-inner h4 {
	padding-bottom: 20px;
}

.slide-toggle:hover {
	background-color: #242424;
}

/*///////////////////////////////////////////////////////////////////////// five ///////////////////////////////////////////////*/

.fo_all {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fo_all h5 {
	margin-bottom: 20px;
}

.four {
	padding-bottom: 60px;
}

.last_all {
  flex-wrap: wrap;
	display: flex;
	padding-left: 60px;
}

.lf_line {
	width: 25%;
	display: flex;
  flex-wrap: wrap;
	flex-direction: column;
	gap: 20px;
}

.last {
	padding: 70px 20px;
}

.last_all a {
	color: #919191;
}
.box {
  display: none;
}

.third h1 {
	text-align: center;
	margin-bottom: 30px;
}
/*///////////////////////////////////////////////////////////////////////// mediaquery ///////////////////////////////////////////////*/

@media only screen and (max-width: 1300px) {
  .container {
    max-width: 900px;
  }
  .se_l_box {
    margin-bottom: 105px;
  }
}
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 32px;
    font-weight: 700;
  }

  h4 {
    font-size: 18px;
    font-weight: 400;
  }
  .container {
    max-width: 680px;
  }

  .f_left {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
  }
  .f_right {
    width: 100%;
  }

}

@media only screen and (max-width: 767px) {
  .hd_top h3 {
    font-size: 25px;
  }

  #ftn {
    font-size: 13px;
  }
  #ftn {
    padding: 5px 3px;
  }
  .hd_top span {
    gap: 10px;
  }
  #sbtn {
    font-size: 13px;
  }
  header {
    margin-top: 10px;
  }
  .mmbtn input {
    padding: 11px 30px 11px 15px;
    width: 80px;
    font-size: 11px;
  }
  #ssbtn {
    font-size: 11px;
  }
  #ssbtn i {
    font-size: 11px;
  }
  .f_right img {
    width: 330px;
  }
  .f_right video {
    width: 241px;
    margin-top: 47px;
  }
  .se_left {
    width: 100%;
  }
  .se_l_box {
    margin: 0;
  }
  .se_left {
    height: 320px;
    background-position: center;
  }
  .se_right {
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  #fid video {
    margin-top: 30px;
    width: 217px;
  }
  #seee {
    width: 100%;
    background-position: center;
  }
  #seee {
    height: 200px;
     
  }
  .fo_all {
    padding: 0 20px;
  }
  .last_all {
    padding: 0;
  }
  .lf_line {
    width: 50%;
    margin-bottom: 40px;
  }
  .last {
    padding: 70px 40px;
  }
  .main {
    
    padding: 120px 0;
  }
  .box-inner h4 {
    font-size: 14px;
  }
  .tr_box h3 {
    font-size: 20px;
  }
}
